/* Contenedor del botón */
.friends-container {
    position: fixed;
    background-color: var(--background-color);
    z-index: 1000;
}

/* Botón de amigos */
.friends-button {
    background-color: #0d1b2a;
    color: white;
    border: none;
    border-radius: 0 8px 8px 0;
    padding: 15px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    box-shadow: var(--box-shadow-primary);
}

.friends-button:hover {
    background-color: #1b263b;
}

/* Panel de amigos */
.friends-panel {
    position: fixed;
    top: 55%;
    left: -360px; /* Oculto por defecto */
    transform: translateY(-50%);
    width: 350px;
    max-height: 500px;
box-shadow: var(--box-shadow-primary);
    border-radius: 0 8px 8px 0;
    transition: left 0.3s ease-in-out;
    overflow-y: auto;
    background-color: var(--background-color);
}

/* Panel abierto */
.friends-panel.open {
    left: 0;
}
