.user-page-container {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 4rem;

  h1 {
    padding: 1rem;
    color: var(--secondary-color);
    font-weight: normal;
    font-size: 2.5em;
  }
  h2 {
    color: var(--secondary-color);
    font-weight: normal;
    font-size: 2.2em;
  }
  h3 {
    color: var(--tertiary-color);
    font-weight: lighter;
  }
}

.top-songs-container {
  width: 90%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem 0rem;
  height: 45vw;
}

.edit-icon {
  margin-left: 0.8rem; /* Adjust the space as needed */
  width: 25px; /* Optional: Control icon size */
  height: auto;
}
.edit-icon:hover {
  transform: scale(1.1); /* Slight increase on hover */
}

.user-songs {
  padding-top: 8vh;
}
