@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

*{

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inria Sans', sans-serif;

}


:root {
  --background-color: #040520;
  --primary-color: #0489E0;
  --secondary-color: #FFFFFF;
  --tertiary-color: #ACB8D4;
  --quaternary-color: #047494;
  --primary-color-opacity: 4, 137, 224;
  --secondary-color-opacity: 255, 255, 255;
  --quaternary-color-opacity: 4, 116, 148;
}