@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inria Sans", sans-serif;
}

:root {
  --background-color: #040520;
  --primary-color: #0489e0;
  --secondary-color: #ffffff;
  --tertiary-color: #acb8d4;
  --quaternary-color: #047494;
  --quinary-color: #626a66;
  --primary-color-opacity: 4, 137, 224;
  --secondary-color-opacity: 255, 255, 255;
  --quaternary-color-opacity: 4, 116, 148;
  --box-shadow-primary: 0px 0px 10px 2px rgba(40, 162, 255, 0.556);
  --box-shadow-secondary: 0px 0px 10px 4px rgba(155, 40, 255, 0.8);
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--background-color);
}


#root,
.app-container ,
.content {
  height: 100%;
  width: 100%;
}

