.story-viewer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100vw;
    background-color: var(--background-color);
    overflow: hidden;

.story-viewer {
    position: relative;
    width: 800px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    background: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

/* Fondo degradado para mejorar la legibilidad */
.story-viewer::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background: linear-gradient(to top, #040520, transparent);
    z-index: 1;
}

.story-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: var(--box-shadow-primary);
    opacity: 0.6;
}

.story-info {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    max-width: 80%;
    flex-wrap: wrap;
}

.user-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: var(--box-shadow-primary);
    border: 2px solid;
}

.user-name {
    color: var(--secondary-color);
    font-size: 18px;
}

.story-music {
    display: flex;
    position: absolute;
    bottom: 10%;
    left: 10%;
    gap: 20px;
    color: var(--secondary-color);
    z-index: 2;
    max-width: 80%;
}

.song-story-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    box-shadow: var(--box-shadow-secondary);
}

.song-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    align-items: flex-start;
}

.song-title {
    font-weight: bold;
    font-size: 20px;
}

.song-artist {
    font-size: 16px;
    color: var(--tertiary-color);
}

.song-album {
    font-size: 14px;
    color: var(--tertiary-color);
}

}

/* Responsividad */
@media (max-width: 600px) {
.story-viewer-container {
    .story-viewer {
        width: 90%;
        height: 600px;
    }

    .user-avatar {
        width: 40px;
        height: 40px;
    }

    .song-title {
        font-size: 16px;
    }

    .song-artist {
        font-size: 12px;
    }
    }
}
